*{
    padding:0px;
    margin:0px;
}
.banner{
    background-image: url('../images/banner3.jpg');   
    height:640px;
    background-size:cover;
}
.banner h1{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    margin:auto;
    position:relative;
    top:45%;
    font-size:100px;
    color:white;
}
.butn {
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    background-color: #fbac29;
    color:white;
    padding :10px 25px;
}
.navbar {
    background-color: #0000007a;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar ul li a {
    color: #fff ! important;
    font-weight: 600;
    font-size: 20px;
}

