*{
    padding:0px;
    margin:0px;
}
.banner{
    background-image: url('../images/banner3.jpg');  
    height:640px;
    background-size:cover;
}
.banner h1{
    text-align:center;
    font-family:'Times New Roman', Times, serif;
    margin:auto;
    position:relative;
    top:45%;
    font-size:100px;
    color:white;
}


.navbar {
    background-color: #0000007a;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar ul li a {
    color: #fff ! important;
    font-weight: 600;
    font-size: 20px;
}

